@import "common.scss";



//dialog大枠
.common_dialog {
    background-color: $view_Title_font_color; //white
    position: relative;
    font-size: $cell_fontsize;

    .v-card__title {
        &.dialog_title {
            font-size: $dialog_title_fontsize;
            background-color: $view_Title_background_Main; //primary
            color: $view_Title_font_color; //white
        }
    }

    .v-btn {
        &.dialog_close {
            color: $black; //secondary
            background-color: $view_Title_font_color; //white
            position: absolute;
            top: 10px;
            right: 10px;
            left: auto;
        }

        //ボタンデザイン
        &.func_btn {
            color: $view_Title_font_color; //white
            background-color: $view_Title_background_Main; //primary
        }
    }

    //ラベルデザイン
    .v-card {
        &.dialog_label {
            text-align: center;
            width: 100px;
            height: 25px;
            color: $black;
            background-color: $light-white;
        }

        //サイズ調整用
        &.wr-40 {
            width: 40px;
            height: 24pxW;
        }
    }

    //セレクトデザイン
    div {
        &.dialog_select {
            border: solid 1px $light-gray;
            font-size: $cell_fontsize;

            .v-input__control {
                min-height: 25px !important;
            }
        }

        input {
            border: none;
        }

    }



}