/punlic_html/mock/twg-app/lib/config.php
/punlic_html/mock/twg-login/lib/config.php
/punlic_html/mock/twg-outer/lib/config.php
/punlic_html/mock/twg-res/lib/config.php
/punlic_html/passport/authorization-server/.rnd
