#jisseki-kiroku {
  font-size: 14px;
  font-family: 'メイリオ';
  min-width: 1266px !important;

  .container.jissekikiroku{
    padding:4px;
  }

  .leftArea {
    min-width: 275px;
    max-width: 275px;
    width: 275px;
  }

  .rightArea {
    min-width: 50%;
    max-width: none;
    width: 1020px;
    margin-left:4px;
  }

  /* 利用者情報エリアのスタイル */
  .user-info{
    padding:0;
    font-size:14px;
    color:#333333;
  }
    .user-info label{
      font-size:14px;
      font-weight:bold;
      margin-right:10px;
    }

  .riyousya-block,.jukyusyasho-block,.keiyakuryo-block{
    border-bottom:1px solid #ccc;
    float:left;
  }

  .riyousya-block{
    width:227px;
  }

  .jukyusyasho-block{
    margin-left:20px;
    width:269px;
  }

  .keiyakuryo-block{
    width:216px;
  }

  .user-box{
    border:none;
    width:150px;
  }

  .v-input--selection-controls{
    padding:0;
    margin:0;
  }

  .keiyakusikyu-box {
    width:100px;
    margin-right:20px;
  }

  .denbun-toggle{
    margin-left:20px;
  }

  /* グリッドのスタイル */
  #detailGrid {
    margin-top:10px;
    font-size:12px;
    color:#333333 !important;
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: $light-gray;
      border-radius: 0px;
    }
    ::-webkit-scrollbar-thumb {
      background: $brawn;
      border-radius: 0px;
    }
  }

  #detailGrid .wj-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#333333 !important;
  }

  /* 一旦グリッドの枠線を表示しない */
  /* #detailGrid.wj-control.wj-content.wj-flexgrid {
    border: 2px solid #348498;
  } */

  #subGrid {
    font-size:12px;
    color:#333333 !important;
  }

  /* 一旦グリッドの枠線を表示しない */
  /* #subGrid.wj-control.wj-content.wj-flexgrid {
    border: 2px solid #348498;
  } */

}