.v-application{
    a{
        &.v-breadcrumbs__item {
            color: $black;
        }
    }
}
ul{
    &.v-breadcrumbs {
        padding:0px;
        background-color: $light-gray;
        li{
            background-color: $white;
            padding:5px;
        }
        li a {
            width:100%;
            display: block;
        }
        li:nth-child(odd){
            width:180px;
            text-align: center;
            padding:3px 10px;
        }
        li:nth-child(even){
            padding:0;
        }
    }
}
