.w-80{ width:80px; }

/* パンくずリスト下の基本情報エリアのスタイル */
.basic-info{
  background-color: #333;
  height:80px;
  padding:0 10px;
  position: relative;
}

.basic-info label{
  color:white;
  font-size:14px;
  margin-left:10px;
  margin-right:20px;
}

.service-selection-area{
  margin-top:8px;
  margin-bottom:5px;
}

#sarvice-combo{
  width:500px;
  font-size:14px;
}

.month-selection-area{
  margin-bottom:5px;
}

.month-selection-area label{
  margin-right:33px;
}

.month-selection-area label:nth-child(3){
  margin-left:60px;
}

.month-selection-area Input{
  background-color: white;
  font-size:14px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  height:30px;
  padding:5px;
}

