@charset "utf-8";
$red:#ff502f;
$black:#000;
$white:#fff;
$light-gray:#ccc;
$light-white:#f5f5f5;
$brawn:#4d4d4d;
$deepgreen:#004d61;
$light_yellow:#fffeed;
$font_color:#333;
$green:#27904d;
$pink:#f5d6e6;
@import "_mixins";
